<h4>
  <a href="#stores/1/<%= dept_id %>/aisles/<%= id %>" class="department"><%= name %></a>
  <a href="#stores/1/departments/<%= dept_id %>/aisles/<%= id %>">View More <i class="icon-angle-right"></i></a>
</h4>
