<button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
<header class="clearfix detail-header">
  <div class="image">
    <span class="image-wrapper">
      <img class="small-image" src="<%= img_url %>">
    </span>
    <div class="item-quantity item-modal">
      <div class="item-quantity-amount">
        <%= qty_in_cart %>

        in cart
      </div>
    </div>
  </div>
  <div class="item-info">
    <h3>
      <%= name %>
      <br>
      <small><%= size %></small>
    </h3>
    <div class="cart-buttons">
      <div class="price">
        $<%= price %>
      </div>
      <div class="qty-buttons">
        <button class="btn btn-large btn-qty btn-success dec">
          <i class="icon-minus"></i>
        </button>
        <button class="btn btn-large btn-qty btn-success inc">
          <i class="icon-plus"></i>
          Add
        </button>
      </div>
      <div class="favorites-button">
        <div class="btn-add-list-dropdown">
          <i class="icon-plus"></i>
          Add to List
          <ul class="carret dropdown"></ul>
        </div>
      </div>
      <p class="clearfix">
        <a class="btn-open-flag-view" href="#">
          <i class="icon-flag"></i>
          Flag Item
        </a>
      </p>
    </div>
  </div>
</header>
<div class="detail-main-body">
  <ul class="nav nav-tabs"></ul>
  <section class="detail-body" style="max-height: 474px;">
    <div class="detail-body-inner">
      <div class="tab-content" style="padding-right: 20px;"></div>
    </div>
  </section>
</div>
