<div class="media">
  <img src="<%= item.escape('img_url') %>" alt="<%= item.escape('name') %>" style="">
  <div class="item-quantity-small">
    <i class="icon-shopping-cart"></i>
    <span class="item-qty">0</span>
  </div>
  <div class="item-quantity">
    <span class="item-quantity-amount">
      <span class="item-qty">0</span>
    </span>
    <span class="item-quantity-label">in cart</span>
  </div>
  <div class="info-group">
    <div class="pull-right qty-buttons">
      <button class="btn btn-qty btn-success dec">
        <i class="icon-minus"></i>
      </button>
      <button class="btn btn-qty btn-success inc">
        <i class="icon-plus"></i>
        add
      </button>
    </div>
  </div>
</div>
<div class="item-info">
  <div class="item-name item-row">
    <span class="full-item-name"><%= item.escape('name') %></span>
    <span class="item-size muted">
      $<%= item.escape('price') %>
      <strong>·</strong>
      <%= item.escape('size') %>
    </span>
  </div>
</div>
