<div class="media">
  <img src="<%= img_url %>" alt="<%= name %>" style="">
  <div class="item-quantity-small" style="right: 10px;">
    <i class="icon-shopping-cart"></i>
    <span class="item-qty"><%= qty_in_cart %></span>
  </div>
  <div class="item-quantity">
    <span class="item-quantity-amount">
      <span class="item-qty"><%= qty_in_cart %></span>
    </span>
    <span class="item-quantity-label">in cart</span>
  </div>
  <div class="info-group">
    <div class="pull-right qty-buttons">
      <button class="btn btn-qty btn-success dec">
        <i class="icon-minus"></i>
      </button>
      <button class="btn btn-qty btn-success inc">
        <i class="icon-plus"></i>
        add
      </button>
    </div>
  </div>
</div>
<div class="item-info">
  <div class="item-name item-row">
    <span class="full-item-name"><%= name %></span>
    <span class="item-size muted">
      $<%= price %>
      <strong>·</strong>
      <%= size %>
    </span>
  </div>
</div>
