<div class="item-header">
  <h4><a href="#zones/<%= store.escape('zone_id') %>/stores/<%= store.id %>/departments/<%= dept.id %>" class="department"><%= dept.escape('name') %></a> <a href="#zones/<%= store.escape('zone_id') %>/stores/<%= store.id %>/departments/<%= dept.id %>">View More <i class="icon-angle-right"></i></a></h4>
</div>

<ul class="items-list unstyled">
</ul>
