<div class="row-fluid">
  <div class="span12 panel-manager" id="main-content">
    <div class="department content-panel active">
      <div class="items-board-container produce">
        <div class="infinite-scrolling items-board unstyled">

          <% dept.aisles().each(function (aisle) { %>
            <% aisle.fetch({ async: false }); %>
            <% if (aisle.items().length === 0) return; %>

            <div class="item-header">
              <h4><a href="#zones/1/stores/<%= dept.escape('store_id') %>/departments/<%= dept.id %>/aisles/<%= aisle.id %>" class="department"><%= aisle.escape('name') %></a> <a href="#zones/1/stores/<%= dept.escape('store_id') %>/departments/<%= dept.id %>/aisles/<%= aisle.id %>">View More <i class="icon-angle-right"></i></a></h4>
            </div>

            <ul class="items-list unstyled">

              <% aisle.items().each(function (item) { %>

                <li class="aisle_<%= aisle.id %> department_<%= dept.id %> has-details item" data-item-id="<%= item.id %>" data-department-id="<%= dept.id %>" data-aisle-id="<%= item.escape('aisle_id') %>">
                  <div class="media">
                    <img src="<%= item.escape('img_url') %>" alt="<%= item.escape('name') %>" style="">
                    <div class="item-quantity-small">
                      <i class="icon-shopping-cart"></i>
                      <span class="item-qty">0</span>

                    </div>
                    <div class="item-quantity">
                      <span class="item-quantity-amount">
                        <span class="item-qty">0</span>

                      </span>
                      <span class="item-quantity-label">in cart</span>
                    </div>
                    <div class="info-group">
                      <div class="pull-right qty-buttons">
                        <button class="btn btn-qty btn-success dec">
                          <i class="icon-minus"></i>
                        </button>
                        <button class="btn btn-qty btn-success inc">
                          <i class="icon-plus"></i>
                          add
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="item-name item-row">
                      <span class="full-item-name"><%= item.escape('name') %></span>
                      <span class="item-size muted">
                        $<%= item.escape('price') %>
                        <strong>·</strong>
                        <%= item.escape('size') %>
                      </span>
                    </div>
                  </div>
                </li>

              <% }); %>
            </ul>

          <% }); %>
        </div>
      </div>
    </div>
  </div>
  <div class="minimized hide-on-checkout hide-on-landing" id="cart-sidebar"></div>
</div>
